@charset "utf-8";
/* CSS Document */

body{
	margin:0 auto;
	background:url(../image/bg.jpg);
    height: 100%;
}

#conteiner{
	width: 1030px;
	margin: 0 auto;
    height: auto;
}

#header { 
	width: 1030px; 
	height:60px; 
	border: 2px solid #0CF;
	/*border-radius: 100px;*/
	background-color:#110C46;
    color: #0CF;
}

#menu{
	margin-top: 5px;
	width: 215px;
	height: auto;
	float:left;
    background-color:#110C46;
    color: #0CF;
	border: 2px solid #0CF;
	/*border-radius: 15px;*/

}

#content{

	width: 785px;
	height: auto;
	float:right;
	/*border-radius: 10px;*/
	border: 2px solid #0CF;
	margin: 5px 0;
	padding: 8px;
    background-color:#110C46;
    color: #0CF;
    padding-top: 20px;
}

#footer { 

	width: 1027px;
	height:45px;
	clear:both;
	border: 2px solid #0CF;
	/*border-radius: 10px;*/
    background-color:#110C46;
    color: #0CF;
    float: right;
    margin-top: 5px;
    padding-left: -5px;
}
.avtor{
    font-family: Verdana;
    font-size: 20px;

}

.list{
	text-align:left;
	padding:10px;	
}

.leftimg{
	float: left;
    margin: 7px;
}

.rightimg{
	float: right;
    margin: 7px;
}

.textOfHeader{
	padding:10px 0;
	text-align:center;
	font-size:36px;
}

.footerContent{
    margin-top: 15px;
	text-align:right;

}

.border_div{
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}
a{
	text-decoration: none;
}
img{
	margin-right: 10px;
}
p{
	 text-indent: 20px;
}
a:link{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: #110C46;
    color: #0CF;
}
a:visited{
    color: #0CF;
    background: #110C46;
}
a:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color:#110C46 ;
    background: #0CF;
}
a:active{
    color: #110C46;
}
.text_firstname{
    width: 200px;
    /*height: 60px;*/
}
.text_name{
    width: 150px;
    margin-right: 10px;
    /*height: 60px;*/
}
.text_facultet{
    width: 150px;
    margin-right: 55px;
    /*height: 60px;*/
}
.text_group{
    width: 50px;
    margin-right: 120px;
    /*height: 60px;*/
}
.date{
    margin-right: 135px;
}
.text_date{
    width: 30px;
    /*height: 60px;*/
}
.text_month{
    width: 30px;
    /*height: 60px;*/
}
.text_year{
    width: 30px;
    /*height: 60px;*/
}
.text_steprndiya{
    width: 50px;
    margin-right: 195px;
    /*height: 60px;*/
}
.text_serbal{
    width: 30px;
    margin-right: 345px;
    /*height: 60px;*/
}
.text_header{
    font-family: verdana;
    font-size: 30px;
    font-weight:bold;
}
.pole_content{
    font-family: Tahoma;
}
.buttom{
    width: 100px;
    height: 30px;
  border-radius: 10px;
}
.form1{
    font-family: Verdana;
    font-size: 20px;
}